{% if header %}
  <div{{ attributes }}>
    {{ header }}
  </div>
{% endif %}

{% if content %}
  <div{{ attributes }}>
    {{ content }}
  </div>
{% endif %}

{% if sidebar %}
  <div{{ attributes }}>
    {{ sidebar }}
  </div>
{% endif %}

{% if footer %}
  <div{{ attributes }}>
    {{ footer }}
  </div>
{% endif %}
